[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
cython = "<3.0.0"

[packages]
cloudformation-cli-typescript-plugin = {editable = true,path = "."}

[requires]
python_version = "3"
